<div>
  <div>
    <p #refOne> One's content</p>
  </div>
  <ng-content></ng-content>
  <div *ngFor="let item of incomingObject.arr">
    <div *ngFor="let innerItem of item | keyvalue; let i = index;">
      <p [class]="i % 2 === 0 ? 'even': 'odd'" ><b>{{innerItem.key}}</b> - {{innerItem.value}}</p>
      <button mat-stroked-button color="primary" (click)="handleClickEvent($event)">Click Me</button>
    </div>
    <input type="number" [(ngModel)]="counterName" (change)="handleChangeEvent($event)" />
    <br>
  </div>
</div>
