.content-container {
  min-height: 100vh;
  box-sizing: border-box;
}

mat-sidenav-container,
mat-sidenav-content,
mat-nav-list,
mat-sidenav {
  height: 100%;
  visibility: visible !important;
}

mat-sidenav {
  width: 10%;
}

.min {
  width: 5%;
}
.max {
  width: 12%;
}
