<% layout('layouts/boilerplate') %>
    <div class="container">
        <div class="row">
            <h1 class="text-center">New Campground</h1>
            <div class="col-lg-6 offset-lg-3">
                <form action="/campgrounds" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="campground[title]" id="title"
                            placeholder="Frog Lake" required>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="campground[location]" id="location"
                            placeholder="Houston, Texas" required>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" class="form-control" name="campground[image]" id="image" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" step="0.01" class="form-control" id="price" name="campground[price]"
                                required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" name="campground[description]" id="description"
                            required></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success">Add Campground</button>
                    </div>
                    <footer>
                        <a class="ml-2" href="/campgrounds">Cancel</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>