<% layout('layouts/boilerplate') %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">
            <%= message %>
        </h4>
        <p>
            received a <%= statusCode %> error
        </p>
        <hr>
        <p class="mb-0">
            <% if (process.env.NODE_ENV !=="production" ) { %>
                <%= stack %>
                    <% } %>
        </p>
    </div>