<section [class.sidenav]="isExpanded">
  <div class="toggle">
    <mat-icon (click)="toggleMenu.emit(null)" [fontIcon]="isExpanded ? 'keyboard_backspace' : 'dehaze'"></mat-icon>
  </div>
  <mat-nav-list [class]="isExpanded ? 'toggle toggle-expanded' : 'toggle'">
    <div>
      <a
        mat-list-item
        *ngFor="let route of routeLinks"
        routerLinkActive="active-link"
        class="hover"
        routerLink="{{ route.link }}"
      >
        <mat-icon
          mat-list-icon
          [matTooltip]="!isExpanded ? route.name : null"
          matTooltipPosition="right"
        >
          {{ route.icon }}</mat-icon
        >
        <p matLine *ngIf="isExpanded">{{ route.name }}</p>
      </a>
    </div>
  </mat-nav-list>
</section>
