<div class="row">
  <div class="col col-xs-12">
    <img [src]="recipeDetail.imagePath" alt={{recipeDetail.name}} class="img-responsive" style="max-height: 400px;">
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <h1> {{recipeDetail.name}} </h1>
    <!-- <h1> Name </h1> -->
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <div class="btn-group" appDropdown>
      <button id="manageRecipe" data-toggle="dropdown" type="button" class="btn btn-primary dropdown-toggle">Manage
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="toShoppingList()">To Shopping List</a></li>
        <li><a style="cursor: pointer;">Edit Recipe</a></li>
        <li><a style="cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <p>{{recipeDetail.description}}</p>
    <!-- <p> description</p> -->
  </div>
</div>
<div class="row">
  <div class="col col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipeDetail.ingredients"> {{ingredient.name}} - {{ingredient.amount}}</li>
    </ul>
  </div>
</div>
